<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!item">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Card Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="{{item.image}}"/>

  <ion-item>
    {{item.title}}<br/>
    <p><ion-icon name="ios-clock-outline"></ion-icon> {{item.operatTime}} </p>
  </ion-item>

  <ion-item><p>描述: {{item.desc}}</p></ion-item>
  <ion-item><p>性別: {{item.gender}}</p></ion-item>
  <ion-item><p>年齡: {{item.age}}</p></ion-item>
  <ion-item><p>聯絡電話: {{item.contactNumber}}</p></ion-item>
  <ion-item><p>其他聯絡方式: {{item.otherContact}}</p></ion-item>

  <ion-item>
    <p>評論:</p>
    <ion-list>
      <ion-item *ngFor="let comment of item.commentList">
        <ion-avatar item-start *ngIf="!comment.avatar">
          <ion-icon item-start name="contact"></ion-icon>
        </ion-avatar>
        <ion-avatar item-start *ngIf="comment.avatar">
          <img src="{{comment.avatar}}">
        </ion-avatar>
        <h2>
          {{comment.content}}
        </h2>
        <small *ngIf="!comment.avatar">
          註冊用戶 ({{comment.userId}})
        </small>
        <small *ngIf="comment.avatar">
          Facebook用戶
        </small>
      </ion-item>
    </ion-list>
  </ion-item>

  <button ion-button color="danger" full *ngIf=item.isOwner>已完成領養</button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input #commentText id="commentText" type="text" placeholder="留言......" clearInput></ion-input>
      <button ion-button item-end outline color="primary" (click)="comment()">Send</button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
